
<div class="row marketing">
    <p class="lead">I made this app for you. Because I love you.</p>
    <p>This app was built with <a href="http://yeoman.io/" target="_blank">Yeoman</a> using the
        <a href="https://github.com/petecoop/generator-express" target="_blank">Express generator</a>. The front end
        consists of vanilla HTML styled with
        <a href="http://getbootstrap.com/" target="_blank">Twitter's Bootstrap</a> (with a few tweaks). Templates are
        assembled on the back end using the <a href="http://handlebarsjs.com/" target="_blank">Handlebars.js</a> engine.
        There is no JavaScript on the page; all of the interactions are achieved through standard HTML links and form
        controls.</p>

    <p>On the back end, I'm using the <a href="http://expressjs.com/" target="_blank">Express</a> framework for
        <a href="http://nodejs.org/" target="_blank">Node.js</a>. I chose it because I wanted something small and
        hackable so I could figure out what the back end was doing. Programming in Node was also a great way to learn
        JavaScript. For authentication, I'm using <a href="http://passportjs.org/" target="_blank">PassportJS</a> with
        the <a href="https://www.npmjs.org/package/bcrypt" target="_blank">Node.js port of bcrypt</a>. The persistence
        layer consists of a <a href="http://mongoosejs.com/" target="_blank">Mongoose</a> interface to
        <a href="http://www.mongodb.org/" target="_blank">MongoDB</a>.</p>

    <p>A word of warning: since Heroku charges you for SSL endpoints, I'm not using them.
        <strong>You should assume the whole app is insecure. Don't use the same password you use for other sites, and
            don't put anything confidential in any of your todos.</strong></p>
    <p>You can also check out the <a href="http://todoodly.parseapp.com/" target="_blank">sister app</a>, which uses
        AngularJS on the front end.</p>
</div>