{{#if isAuthenticated}}
    {{!--<aside>--}}
        {{!--<a href="users/{{user.id}}">View my profile</a>--}}
    {{!--</aside>--}}
    {{>todos/todoApp}}
{{else}}
    <div class="jumbotron">
        <h1>ToDoodly!</h1>
        <p class="lead">Express todo management*.</p>
        <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a></p>
    </div>
    <p><small>*Check out the security warning <a href="/about">here</a>.</small></p>
{{/if}}