<h1>{{title}}</h1>
<form action="/create" method="post" accept-charset="utf-8">
    <input type="text" name="content" />
</form>
<!--poop-->
{{#each todos}}
<p>
    <span>
      <a href="/edit/{{this._id}}" title="Update this todo item">{{this.content}}</a>
    </span>
    <span>
      <a href="/destroy/{{this._id}}" title="Delete this todo item">Delete</a>
    </span>
</p>
{{/each}}