<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="author" href="mailto:s.morgan.jeffries@gmail.com">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        {{>layout/header}}
        {{>layout/alert}}
        <div class="container">
            <main role="main">
                {{{ body }}}
            </main>
        </div>
        {{>layout/footer}}
    </div>
    {{#if isDevEnv}}
        {{>layout/debug}}
    {{/if}}
    <!--Scripts-->
    {{#if isDevEnv}}
        <script src="http://localhost:35729/livereload.js?snipver=1"></script>
    {{/if}}
</body>
</html>