<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="mailto:s.morgan.jeffries@gmail.com">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        {{>layout/header}}
        {{>layout/alert}}
        <div class="container">
            <main role="main">
                {{{ body }}}
            </main>
        </div>
        {{>layout/footer}}
    </div>
    {{>layout/debug}}
    <!--Scripts-->
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>
    <script src="/components/jquery/jquery.js"></script>
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/affix.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/carousel.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/popover.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tab.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>--}}
    {{!--<script src="/components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>--}}
</body>
</html>